@model Sign_up_form.Models.User

<style>
    .sign-up-form {
        display: flex;
        flex-direction: column;
    }
</style>

<h2>Sign Up</h2>
@*this null null specifies the action and the contoller for form submission*@
@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "sign-up-form" }))
{
    @Html.LabelFor(m => m.FirstName)
    @Html.TextBoxFor(m => m.FirstName)
    @Html.ValidationMessageFor(m => m.FirstName)

    @Html.LabelFor(m => m.LastName)
    @Html.TextBoxFor(m => m.LastName)
    @Html.ValidationMessageFor(m => m.LastName)

    @Html.LabelFor(m => m.Username)
    @Html.TextBoxFor(m => m.Username)
    @Html.ValidationMessageFor(m => m.Username)

    @Html.LabelFor(m => m.Place)
    @Html.TextBoxFor(m => m.Place)
    @Html.ValidationMessageFor(m => m.Place)

    @Html.LabelFor(m => m.PhoneNo)
    @Html.TextBoxFor(m => m.PhoneNo)
    @Html.ValidationMessageFor(m => m.PhoneNo)

    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password)
    @Html.ValidationMessageFor(m => m.Password)

    @Html.LabelFor(m => m.ConfirmPassword)
    @Html.PasswordFor(m => m.ConfirmPassword)
    @Html.ValidationMessageFor(m => m.ConfirmPassword)

    <input type="submit" value="Sign Up" />
}
